[submodule "esp32-cam-module"]
	path = esp32-cam-module
	url = git@github.com:FernandezKA/esp32-cam-module.git
[submodule "server-module"]
	path = server-module
	url = git@github.com:FernandezKA/server-module.git
[submodule "lynx-server-recorder"]
	path = lynx-server-recorder
	url = https://github.com/Xen1k/lynx-server-recorder/
[submodule "lynx-frontend"]
	path = lynx-frontend
	url = https://github.com/Xen1k/lynx-frontend
